@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    background:#1F1517;
    color:#FFFFFF ;

}

html {
    font-family: Inter, sans-serif;
    font-weight:500;
}
a {
   text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin:auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #FFF2E780;
}

.github {
    color: #FFF2E7;
    font-weight: 600;
     
}

main{
    display:flex;
    flex-direction: column;
}

.principal{
    background: #181012;
  
}

.hero{
    background: #181012;

    max-width: 1120px;
    height: 60vh; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    padding: 0rem 2rem;
    margin:auto;

    overflow: clip;

}

.hero-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.destaque{
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;

}

.marrom {
    color: #a45a49;
}


.amarelo{
    color: #E7A80E;

}


h1{
    font-family: Montserrat;
    font-size: 56px;
    font-weight: 800;
}

hr {
    border-color: #a45a49;

}

.hero-subtitulo{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;

}

.hero-imagens-container {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;

    
}

.hero-imagens-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;

}

.botao-conteiner{
    width: 100%;
    margin: 1120 px;
    margin: auto;
    transform: translate("0 - 50%");
}

button{
    border:none;
    padding: 1rem;
    border-radius: 0.5rem;

    background-color: #a45a49;

}

.receitas{
    display: flex;
    flex-direction: column;
    

    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receita-cabecalho{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo{
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #FFF2E7;
}

.receitas-subtitulo{
    color: #c7bab3;
    font-family: Inter;
    font-weight: 400;
    font-size: 1rem;

}

.receita-card-conteiner{
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

}

.receitas-card{
    background-color: #241a1c;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.receite-card-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.detalhes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receita-titulo-cafe{
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFF2E7;
    
}

.receita-avaliacao{
    color: #756a67;
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
    
}

.receit-descricao{
    color: #c7bab3;
    font-family: Inter;
    font-weight: 400;
    font-size: 1rem;

}

.receita-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

}

.receita-autor > img{
    border-radius: 20rem;
    width: 1.5rem;
}

.autor-nome{
    color: #C7BAB3;
    font-size: 1rem;
    font-weight: 600;
}

footer{
    padding: 4ram;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23181a ;
    gap: 0.5rem;
}

.footer-copy{
    color: #FFF2E7;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    
}

.footer-autor{
    color: rgba(255,242,231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    
}

